<a href="https://colab.research.google.com/github/nastia12148/pandas_numpy_tasks-1/blob/main/pandas_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Проведите анализ данных при помощи Pandas выполнив поставленные задачи.**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# загружаем датасет
data = pd.read_csv("./sample_data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак sex) представлено в этом датасете**

In [ ]:
male_count = data["sex"].value_counts()
print(male_count)

Male      19303
Female     9542
Name: sex, dtype: int64

**2. Каков средний возраст мужчин (признак age) по всему датасету?**

In [ ]:
male = data.loc[data["sex"] == "Male"]
male_aver_age = male["age"].mean()
print(male_aver_age)

39.42423457493654

**3. Какова доля граждан Соединенных Штатов (признак native-country)?**

In [ ]:
USA_percent = len(data[data["native-country"] == "United-States"].value_counts())/len(data)
print(USA_percent)

0.8953349098614908

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год**

In [ ]:
more_then_50 = data[data["salary"] == ">50K"]
less_then_50 = data[data["salary"] == "<=50K"]

aver_more = more_then_50["age"].mean()
std_more = more_then_50["age"].std()

aver_less = less_then_50["age"].mean()
std_less = less_then_50["age"].std()

print(aver_more)
print(std_more)
print(aver_less)
print(std_less)

44.25878779111818
10.536313066374397
36.82190406711654
14.050532442448224

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)**

In [38]:
high_ed = ["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters","Doctorate"]

more_then_50_high_ed = more_then_50[more_then_50["education"].isin(high_ed)]

if(more_then_50_high_ed.shape[0] == more_then_50.shape[0]):
    print("Yes")
else:
    print("No")

No

**7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Asian-Pac-Islander.**

In [ ]:
races = data.groupby("race")["age"].describe()
print(races.head())

                      count       mean        std   min   25%   50%   75%  \
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                     max
race
Amer-Indian-Eskimo  82.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0

In [ ]:
API_race = data[data["race"] == "Asian-Pac-Islander"]
API_sex = API_race.groupby("sex")["age"].describe()
print(API_sex["max"])

sex
Female    75.0
Male      90.0
Name: max, dtype: float64

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [11]:
married_rich_percent = data[(data["marital-status"].str[:7] == "Married")
                                &(data["salary"] == ">50K")].shape[0]\
                       /data[data["marital-status"].str[:7] == "Married"].shape[0]

not_married_rich_percent = data[(data["marital-status"].str[:7] != "Married")
                                &(data["salary"] == ">50K")].shape[0]\
                                 /data[data["marital-status"].str[:7] != "Married"].shape[0]

if(married_rich_percent>not_married_rich_percent):
    print("Married is more rich")
else:
    print("Married is more poor")

Married is more rich

**9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [12]:
max_hours = data["hours-per-week"].max()
print(max_hours)

max_hours_people_count = data[data["hours-per-week"] == max_hours].shape[0]
print(max_hours_people_count)

max_hours_people_rich_percent = data[(data["hours-per-week"] == max_hours)&(data["salary"] == ">50K")].shape[0]\
                                /max_hours_people_count
print(max_hours_people_rich_percent)

99.0
73
0.2602739726027397

**10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).**

In [ ]:
print(data.groupby(["native-country","salary"])["hours-per-week"].mean())

native-country  salary
?               <=50K     40.164760
                >50K      45.547945
Cambodia        <=50K     41.416667
                >50K      40.000000
Canada          <=50K     37.914634
                            ...
United-States   >50K      45.505369
Vietnam         <=50K     37.193548
                >50K      39.200000
Yugoslavia      <=50K     41.600000
                >50K      49.500000
Name: hours-per-week, Length: 82, dtype: float64

**11.Сгруппируйте людей по возрастным группам young, adult, retiree, где:**


*   young соответствует 16-35 лет
*   adult - 35-70 лет
*   retiree - 70-100 лет

In [27]:
data["AgeGroup"] = pd.cut(data["age"], bins = [16,35,70,100], labels = ["young", "adult", "retiree"])
print(data["AgeGroup"])

0        adult
1        adult
2        adult
3        adult
4        young
         ...
28841    adult
28842    adult
28843    young
28844    young
28845    young
Name: AgeGroup, Length: 28846, dtype: category
Categories (3, object): ['young' < 'adult' < 'retiree']

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [28]:
print(data[data["salary"] == ">50K"]["AgeGroup"].value_counts())

adult      5322
young      1506
retiree      85
Name: AgeGroup, dtype: int64

In [29]:
richer_group_index = data[data["salary"] == ">50K"]["AgeGroup"].value_counts().argmax()
print(data[data["salary"] == ">50K"]["AgeGroup"].value_counts().index[richer_group_index])

adult

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [ ]:
occupation_data = data["occupation"]
print(occupation_data.value_counts())

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64

In [37]:
def filter_func(data):
    young_and_hardworking = []
    for el in data["occupation"].unique():
        if data[data["occupation"] == el]["hours-per-week"].min() > 5 \
        and data[data["occupation"] == el]["age"].mean() <= 40:
            young_and_hardworking.append(el)
    return young_and_hardworking
    
print(filter_func(data))

['Armed-Forces']